<div class="container">
    <h3>HABILIDADES</h3>
    <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#ccc'"
                [innerStrokeColor]="'#333'"
                [animation]="true"
                [animationDuration]="300"
                [imageSrc]="'../../../assets/cessi.png'"
                [imageHeight]="50"
                [imageWidth]="50"
                [showImage]="true"
                ></circle-progress>

        </div>
    </div>
</div>
